


.card2{
    justify-content: center;
    margin-top:auto;
    align-items: center;
    width: 380px;
    padding: 15px;
    background:white;
    border-radius: 6px;
    flex-direction: column;
    display: flex;   
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
   box-shadow:0px 7px 10px rgba(0,0,0,0.5);
 }
.popup{
   width: 380px;
   padding: 15px;
   background:white;
   border-radius: 6px;  
   display: none;
    position: absolute;
    top: 650%;
    left: 20%;
    transform: translate(-50%, -50%);
 
  
  box-shadow:0px 7px 10px rgba(0,0,0,0.5);
}


/* Optional: to cover the entire screen with a dark background when popup is shown */
.popup-background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 999;
   display: none;
}
.close{
   position: absolute;
   top:-10px ;
   right: -10px;
   background: #eee;
   border-radius: 50%;
   height:20px ;
   width: 20px;

}

.closer{
   position: absolute;
   top:-10px ;
   right: -10px;
   background: white;
   border-radius: 50%;
   height:20px ;
   width: 20px;

}
 /* Styling for blur effect */
 .blur {
   background-color: linear-gradient(rgba(0, 0, 0, 0.7),
   rgba(0, 0, 0, 0.9));
 }
.clear{
   filter: none;
}
 .card3{
   justify-content: center;
   margin-top:120px ;
   
   width: 700px;
   padding: 15px;
   background:white;
   border-radius: 6px;
   
   flex-direction: column;
    
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
 
  box-shadow:0px 7px 10px rgba(0,0,0,0.5);
}
 .card-header h2{
    text-align: center;
    color:rgb(255, 94, 0) ;
 }
 

 .input-style{
    padding: 6px;
    width: 90%;
   justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color:grey ;
}
.input-style:focus{
   color:#000;
   background-color: var(white);
   border-color:rgb(255, 94, 0) ; 
   outline: 0;
   box-shadow: 0 0 0 .20rem rgb(235, 109, 50) ;
}

.form-control:focus{
   color: var(#000);
   background-color: var(white);
   border-color:rgb(255, 94, 0) ; 
   outline: 0;
   box-shadow: 0 0 0 .25rem rgb(255, 94, 0) ;
}
.registration{
   width: 380px;
   padding: 15px;
   background:white;
   border-radius: 6px;
   display: none;  
   position: absolute;
   top: 60%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
 
  
  box-shadow:0px 7px 10px rgba(0,0,0,0.5); 
}

.button{
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgb(255, 94, 0);
    border-radius: 10px;
    width: 100%;
    transition: 0.2s;
    color:white;
 }
 .button:hover{
   background-color:white ;
   color: rgb(255, 94, 0);
 }
 .register{
   display: flex;
 }
 .register a{
   text-decoration: none;
   color:rgb(255, 94, 0) ;
 }
 .register a:hover{
   text-decoration: underline;
   
 }
 .btna-group{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1.5rem;
 }
 .btna{
   padding: 0.75rem;
   display: block;
   text-align: center;
   text-decoration: none;
   background-color:rgb(255, 94, 0);
   color: #eee;
   border-radius: .25rem;
   cursor: pointer;
   transition: all 250ms ease-in-out;
 }

 .btna:active{
   transform: scale(.98);
 }
 .btna:hover{
   color: rgb(255, 94, 0);
   background-color: #eee;
 }
 .with-50{
   width:50%;
 }
 .dropdown{
   color: #000;
   background:white;
   border: rgb(255, 94, 0);
 }
 .dropdown:hover{
   cursor: pointer;
   border-bottom:2px solid #000 ;
  
 }
 
 .dropdown-item:hover{
   cursor: pointer;
   
   border-color: white;
   text-decoration: underline; 
 }

/* progress */
.progressbar{
   position: relative;
   display: flex;
   justify-content: space-between;
   margin:2rem 0 4rem 0;
   counter-reset:step;
}

.progressbar::before, .progress{
    content:"" ;
    position: absolute;
    top:50% ;
    transform: translateY(-50%);
    height:4px;
    width: 100%;
    background-color:rgb(255, 94, 0);
}
.progress{

   background-color:rgb(255, 94, 0) ;
   
   transition: 0.3s ease-in-out;
}
.progress-step{
   width: 35px;
   height: 35px;
   background-color:rgb(255, 94, 0) ;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index:2 ;
}

.progress-step::before{
   counter-increment:step;
   content: counter(step);
}
.progress-step::after{
  content: attr(data-title);
   position: absolute;
   top:calc(100% + 0.5rem) ;
   font-size:.80rem;
   color:rgb(218, 132, 82) ;
}
.progress-step.active{
   background-color: rgb(255, 94, 0);
   color:white ;
   
}

.form-step{
   display: none;
   transform-origin:top ;
   animation:animate 0.5s ;
}

@keyframes animate{
   from{
      transform:scale(1, 0) ;
      opacity:0 ;
   }to{
      transform: scale(1, 1);
      opacity:1 ;
   }
}
.form-step.active{
   display: block;
}

 body{
   padding-bottom:1px ;
   
 }


 /* index styling */
 .wrapper{
    background-color:rgb(255, 94, 0);
    height:585px;
    width: 100%;
    border-bottom-left-radius: 35px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/motorbike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .navbar{
   border-bottom:1px solid white ;
   width: 100%;
   background-color: white;

   
 }
 .nav-info{
gap:50px;
display:inline-flex;
 }
 .icon h2 a{
    text-decoration: none;
    color: #000;
    font-size: medium;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    padding-left:10px ;
 }
 .icon h2 img{
   width: 65px;
   height: 65px;
    background-color:transparent;

 }
  ul{
    display:inline-flex;
    gap:50px ;
    right: 2px;
    position: absolute;
    padding-top: 20px;
    
 }
 ul li{
    text-decoration: none;
    list-style: none;
    
 }

  ul li a{
    text-decoration: none;
    color:#000 ;
    
 }
 ul li a:hover{
    color:#000;
    cursor: pointer;
    border-bottom:2px solid #000 ;
    
 }
 .content{
    padding: 10px;
   height:400px;
 }
 .content h3{
   color: #eee;
   padding-left: 30px;
   position: absolute;
    
}
.content h2{
   color: #eee;
   bottom: 0;
   padding-top: 10px;
   
}
.content p{
   color: #eee;
}
.content i{
   color:rgb(228, 210, 199) ;
   transform: scale(2.0);
   transition: transform .2s; /* Animation */
   z-index: 0;
  position: relative; 
}
.content i:hover{
  cursor: pointer;
  color:rgb(255, 94, 0) ;
  z-index: 3;
  position: relative; 
  transform: scale(1.5);
  
}
 .semi-content{
    display: flex;
    gap:20px ;
text-align: center;
padding:30px ;
 }
 .semi-content img{
    width: 180px;
    height:180px ;
    border-radius: 50%;
 }
  .semi-content h2{
    color:white;
    text-align: center;
    padding-top: 40px;
  }
  
  .delivery{
   left:0;
   display: flex;
   position: absolute;
   top:44%;
   
  }
  .delivery img{
   border-top-right-radius: 50%;
   height: 250px;
  }
 
 
  /* slide section */
  .slide-container{
    padding: 10px;
    width:100%;
    height:230px ;
  display: flex;
  background:#e6e6e6 ;
  border-bottom-left-radius:35px ;
  border-top-right-radius:35px ;
  border-top: 1px solid rgb(255, 94, 0);
  border-bottom: 1px solid rgb(255, 94, 0);
  }
  .slides{
    padding:5px;
   text-align: center;
   display: inline-flex;
   gap:30px ;
  }
  .carousel {
   width:50% ;
   height:50%; 
   left:90px;

  }
  .carousel-item img{
   width: 400px;
   height:200px ;
   border-radius:40%;
  }
  .side-content{
   right:150px;
   position: absolute;
   width: 500px;

  }
  .side-content li{
   list-style: none;
  }
  .side-content li a{
   text-decoration: none;
   color:rgb(255, 94, 0) ;
   padding:3px ;
   background: #eee;
   
  }
  .side-content li a:hover{
   transition: 0.3s;
   color:white ;
   background-color:rgb(255, 94, 0) ;
  }

  /* footer */
  footer{
   background-color:#e6e6e6 ;
   position:relative;
   bottom:0;
   padding: 20px;
   border-top-right-radius:35px ;
   border-top: 1px solid rgb(255, 94, 0);
  
  }
  .footer_socials{
   margin-inline: auto;
   width: fit-content;
   margin-bottom: 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:1.2rem;
}
.footer_socials a{
   margin-top: 5px;
   background: white;
   border-radius: 50%;
   width: 2.3rem;
   height: 2.3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color:rgb(255, 94, 0) ;
   border: 1px solid white;
}
.footer_socials a:hover{
   background:rgb(255, 94, 0);
   color:white;

}
.footer_container{

   text-align: center;
   display: block;
}

.footer_container h4{
   color:rgb(255, 94, 0);
   margin-bottom: 0.6rem;
  text-align: center;
  
}

.footer_container ul {
   position: relative;
   text-align: center;
   padding: 10px;
}
.footer_container ul li a{
   opacity:0.55;
   color:rgb(255, 94, 0);
   
}
.footer_container ul li a:hover{
   letter-spacing: 0.2rem;
   opacity: 2;
   color:rgb(255, 94, 0);
}
.footer_copyright{
   text-align: center;
   padding:1.5rem 0;
   border-top:2px solid rgb(255, 94, 0);
   margin-top: 4rem;  
}
.track{
   display: flex;
   
   position: absolute;
   top: 40%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   margin-bottom: 20px;
}

.track-image{
   
   text-align: center;
   justify-items: center;

  padding: 20px;
   
}
#map{
   padding: 20px;
   padding-bottom: 10px;
   margin-bottom: 10px;
   position:absolute;
    bottom: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); 
    height:50vh; 
    width: 90%;
     border-color: 2px rgb(255, 94, 0) ;
 
   text-align: center;
}
/* users */
.container{
   background-color:rgb(255, 94, 0) ;
   margin-top: 50px;
}
.container h5{
   text-align: center;
   color: #eee;
}

  .route{
   padding:30px;
   height:400px ;
   width:100% ;

   text-align: center;
   background-color:#e6e6e6;
   /* border-left: 1px solid black;
   border-right: 1px solid black; */
   border-top: 1px solid rgb(255, 94, 0);
   border-bottom: 1px solid rgb(255, 94, 0);
   margin-bottom: 10px;
   padding-bottom: 20px;
   border-bottom-left-radius:35px ;
   border-top-right-radius: 35px;
  }
  .route-container{
   padding-left: 20px;
   padding-right: 20px;
   padding-top:10px ;
   padding-bottom: 10px;
   background-color: #eee;
   background-image:url(images/map.png);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   height: 100%;
   width:100% ;
   transition: transform .2s;
   border-left: 1px solid rgb(255, 94, 0);
   border-right: 1px solid rgb(255, 94, 0);
   /* border-bottom: 1px solid black;
   border-top: 1px solid black; */
   border-bottom-left-radius:35px ;
   border-top-right-radius: 35px;
  }
 
  .route-content{
   display: flex;
   text-align: center;
   padding: 10px;
   justify-content: center;
  }
  
.route-image{
   width: 150px;
   height:150px ;
   padding: 5px;
   
}
.route-container:hover , .route-container:focus {
   -ms-transform:scale(1) ;
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);

}
.route-container:hover .route-content:before,  .route-container:focus
.route-content:before {
   display: block;
}
.route-container:hover  .card, .route-container:focus .card{
   display: block;
}

.route-content:before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   padding: 15px;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(133, 138, 143, 0.75);
   
}